@import "../../foundation/config.css";

.container{
  background-color: rgba(0, 0, 0, 1);

  & > ul{
    position: relative;
    display: flex;
    padding: var(--margin-L);
  }

  & > ul > li{
    flex-basis:50%;
    &:last-child{
      text-align: right;
    }
  }
  & > ul > li > *{
    display: block;
    font-size: var(--font-size-S);
    color: var(--color-white);
  }
}

.icon{
  & >* {
    height: 20px;
    padding-right: var(--margin-XS);
  }
}

