@import "../foundation/config.css";

.container{
  overflow: hidden;
  padding-top: 53px;
}

.slider{
  display: flex;
  & > * {
    min-width: 100%;
  }
}

.title{
  padding: var(--margin-LL);
  font-size: var(--font-size-M);
  color: var(--color-white);
  text-align: center;
}

.ginzaBackground{
  background-color: #f00;
}

.list{
  border-bottom: 1px solid var(--border-color);

  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-def);
    padding: var(--margin-L);
  }
}

.stationEn {
  display: inline-block;
  font-size: var(--font-size-XS);
  font-weight: bold;
  text-indent: 0.5rem;
}

.icon{
  display: inline-block;
  width: 32px;
  padding-right: var(--margin-S);
}

