@import "../foundation/config.css";

:root{
  --baseContainer: {
    overflow: hidden;
    padding-top: 61px;
  }
}

.container{
  @apply --baseContainer;
}

.containerHidden{
  @apply --baseContainer;
  display: none;
}

.slider{
  display: flex;
  & > * {
    min-width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.title{
  padding: var(--margin-XL);
  font-size: var(--font-size-L);
  color: var(--color-white);
  text-align: center;
}

.list{
  border-bottom: 1px solid var(--border-color);
  background-color: rgba(255, 255, 255, 1);

  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-def);
    padding: var(--margin-L);
    cursor: pointer;
  }
}

.stationEn {
  display: inline-block;
  font-size: var(--font-size-XS);
  font-weight: bold;
  text-indent: 0.5rem;
}

.icon{
  display: inline-block;
  width: 40px;
  padding-right: var(--margin-M);
}

