@import "../foundation/config.css";

:root{
  --svgPath: {
    & svg path {
      fill: currentColor;
      stroke: currentColor;
    }

    & svg circle{
      stroke: currentColor;
    }
  }
}

.colorInherit {
  @apply --svgPath;
};

.white{
  color: rgba(255,255,255,1);
  @apply --svgPath;
}

.gray{
  color: rgba(104,104,104,1);
  @apply --svgPath;
}
